@import url(http://fonts.googleapis.com/css?family=Lato);

body {
    margin: 0px;
	
	font-family: 'Lato', sans-serif;
	font-size: 110%;
	color: #ecf0f1;
	background-color: #2b2b2b;
}

div {
	margin: 5px;
}

#chatbox {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 35%;
	margin: 0px;
	padding-left: 4px;
	padding-bottom: 4px;
	
	font-size: 110%;
	
	color: #ecf0f1;
	background-color: #1e1e1e;
	
	border-left: none;
	border-right: solid;
	border-top: solid;
	border-bottom: none;
	border-top-right-radius: 6px;
	border-color: #2b2b2b;
}

#chatbox:active, #chatbox:focus {
	outline: 0;
	border-color: #252525;
}