body {
    color: #404040;
    background-color: #e6e6e6;
}

span {
}

.messageblock:nth-child(odd) {
    background-color: #f0f0f0;
}

#chatbox {
    color: #eeeeee;
    background-color: #585858;
}

#helpbox {
    background-color: #585858;
    color: #eeeeee;
    border-color: #b0b0b0;
}

#helpbox li:nth-child(odd) {
    background-color: #5c5c5c;
}

.selected {
	background-color: hsl(282, 45.9%, 25.7%) !important;
}
