@import url(https://fonts.googleapis.com/css?family=Lato);

/** * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http://richclarkdesign.com) * http://cssreset.com */html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {    margin:0;    padding:0;    border:0;    outline:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}body {    line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {    display:block;}nav ul {    list-style:none;}blockquote, q {    quotes:none;}blockquote:before, blockquote:after,q:before, q:after {    content:'';    content:none;}a {    margin:0;    padding:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}/* change colours to suit your needs */ins {    background-color:#ff9;    color:#000;    text-decoration:none;}/* change colours to suit your needs */mark {    background-color:#ff9;    color:#000;    font-style:italic;    font-weight:bold;}del {    text-decoration: line-through;}abbr[title], dfn[title] {    border-bottom:1px dotted;    cursor:help;}table {    border-collapse:collapse;    border-spacing:0;}/* change border colour to suit your needs */hr {    display:block;    height:1px;    border:0;    border-top:1px solid #cccccc;    margin:1em 0;    padding:0;}input, select {    vertical-align:middle;}

html {
    height: 100%;
}

body {
    margin: 0px;

	font-family: 'Lato', sans-serif;
	font-size: 110%;
	color: #ecf0f1;
	background-color: #222;
	overflow-x: hidden;
	word-wrap: break-word;

    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

div {
	margin: 5px;
	margin-top: 0px;
}

p {
	margin: 5px;
	white-space: pre-line;
}

img {
	max-width: 100%;
	cursor: pointer;
	display: block;
}

#messages {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
    margin: 0px;
	height: calc(100% - 60px);
}

.messageitem {
	margin-left: 25px;
	margin-bottom: 5px;
	position: relative;
	bottom: -50px;
	transition: all 0.4s;
}

.messageitem.loaded {
	bottom: 0px;
}

.messageitem.non-anim {
	transition: none;
	bottom: 0px;
}

.messageblock {
	margin: 0px;
	padding-top: 8px;
    padding-left: 5px;
    padding-bottom: 8px;
}

.messageblock:nth-child(odd) {
    background-color: #252525;
}

h1 {
	font-size: 250%;
}

span {
	transition: all 0.5s;
	float: left;
	width: 0;
	height: 0;
	position: relative;
	left: -50px;
}

span.loaded {
	left: 0px;
}

span.non-anim {
	transition: none;
	left: 0px;
}

#chatbox {
	-webkit-appearance: none;
    -webkit-border-radius:0;

	box-sizing: border-box;

    border-radius:0;

	font-family: 'Arial', sans-serif;

	bottom: 0px;
	left: 0px;

	width: 100%;
	height: 60px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 4px;

	font-size: 110%;

	color: #ecf0f1;
	background-color: #1e1e1e;

	border: none;
}

#chatbox:active, #chatbox:focus {
	outline: 0;
	border-width: 2px;
	border-top: solid;
}

.helptip {
	color: #595959 !important;
}

#chevron {
	position: fixed;
	left: 5px;
	bottom: 14px;
	width: 15px;
	height: 10px;
	font-family: 'Lato', sans-serif;
}

#helpbox {
	position: fixed;
	margin: 0px;

	max-height: 80%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;

	bottom: 60px;
	width: 70%;
	background-color: #1e1e1e;
	display: none;

	list-style-type: none;
}

#helpbox li:nth-child(odd) {
    background-color: #242424;
}

@media screen and (max-width: 400px), screen and (max-height: 500px) {
	#chatbox {
        height: 50px;
    }
	#helpbox {
		bottom: 50px;
	}
	#messages {
		height: calc(100% - 50px);
	}
}

li {
	margin: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
}

li:hover {
	cursor: pointer;
}

.commandTip {
	padding-top: 10px;
	padding-bottom: 10px;
}

.selected {
	background-color: hsl(282, 45.9%, 25.7%) !important;
}

.floatingbutton {
	transition: all 0.75s;
	position: fixed;
	top: 5px;
	right: -62px;
	cursor: pointer;
	border: none;
	background-color: rgba(0,0,0,0);
	color: #aaaaaa;
}

.floatingbutton:hover {
	color: #dddddd;
	right: 5px;
}

.floatingbutton:active {
	outline: none;
}

.floatingbutton:focus {
	outline: none;
}

.floatingbutton::after {
  transition: all 0.75s;
  position: relative;
  margin-left: 10px;
  right: -100%;
  content: "expand.";
  font-family: "Lato", Sans-serif;
}

.floatingbutton:hover::after {
  right: 0px;
}

::-webkit-scrollbar {
	display: none;
}
