body {
    color: #404040;
    background-color: #e6e6e6;
}

span {
    text-shadow: 1px 1px 2px #888888;
}

.messageblock:nth-child(odd) {
    background-color: #f0f0f0;
}

#chatbox {
    color: #eeeeee;
    background-color: #585858;
}
